<section class="hero">
  <div class="container hero-container">
    <div class="hero-items">
      <h1 class="hero-title">Introducing Mobileapp</h1>
      <p class="hero-subtitle">Maecenas vitae tellus sapien. Prasent</p>
      <ul class="hero-list">
        <li class="hero-item">semper scelerisque tristique a enim</li>
        <li class="hero-item">Integer ut mattis nulla, eget vehicula elit</li>
        <li class="hero-item">Prasent rutrum ac nunc et</li>
      </ul>
      <button class="btn" type="button">Download</button>
    </div>
    <img class="hero-image" src="./img/iPhone-v.png" alt="iPhone X" />
  </div>
</section>
