<section class="video">
  <div class="container video-section">
    <div class="video-container">
      <h2 class="video-title">Watch the video</h2>
      <p class="video-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
      <div class="video-container-image">
        <img src="../../img/apple-co.png" alt="" />
        <img src="../../img/android.png" alt="" />
      </div>
    </div>
    <img class="video-image" src="./img/iPhone-g.png" alt="iPhone X" />
  </div>
</section>
