<section class="costumers">
  <div class="container">
    <div class="costumers-section">
      <h2 class="costumers-title">What our costumer's say</h2>
      <img class="costumers-img" src="./img/jon-doe-3.jpg" alt="Jon Doe" />
      <h3 class="costumers-subtitle">Jon Doe</h3>
      <p class="costumers-text-company">Company Inc.</p>
      <p class="costumers-text">
        Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
        ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi.
        Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam
        et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
        gravida massa et ante pulvinar, id
      </p>
    </div>
  </div>
</section>
