<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">Mobileapp</a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-item-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">Features</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#">Team</a></li>
        <li class="nav-item">
          <a class="nav-item-link" href="#">Testimonials</a>
        </li>
        <li class="nav-item"><a class="nav-item-link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
