/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./sections/section-hero.css');
@import url('./sections/section-key.css');
@import url('./sections/section-video.css');
@import url('./sections/section-team.css');
@import url('./footer.css');

:root {
  font-family: Inter, Montserrat, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --c-white: #fff;
  --c-black: #000;
  --c-gray: #939eac;
  --c-background: #06071b;
  --lg-primary: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
}
